*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans' !important;
    font-size: 18px;
    transition: 0.25s; 
}

button{
    background: deepskyblue;
    border-radius: 4px;
    color: white;
    border: 1.2px solid silver;
    padding: 12px;
}

.top{
    border-bottom: 2px solid silver;
    display: flex;align-items: center;justify-content: space-between;
    padding: 10px;
    min-height: 50px; 
}

li{
    padding: 12px 4px;
    list-style: none;
    border-bottom: 1px solid silver;
}

.add{
    background: #e9e9e9;
    li{
        padding-left: 16px;
    }
    input{
        // display: inline-block;
        margin-left: 16px;
        border: none;
        outline: none;
        border-bottom: 1px solid #000;
        background: #e9e9e9;
    }
}

.red{background: red;margin-right: 1rem;}